@import url('https://fonts.googleapis.com/css?family=Arapey');
 body {
	 margin: 0;
     font-family: 'Arapey';
     background: #3c3744 !important;
}
 body h1 {
	 font-size: 2em;
	 text-align: center;
	 margin-top: 30%;
}
 section {
	 padding: 3em;
	 height: 100vh;
	 position: relative;
	 box-sizing: border-box;
}
 a {
    font-size: 2em;
    text-align: right;
    margin-top: 30%;
}
 section blockquote {
	 font-size: 2.3em;
	 width: 30%;
	 margin-top: 17%;
	 position: absolute;
}
 section blockquote span {
	 width: 100%;
	 background: white;
	 display: block;
	 height: 5px;
	 margin-top: 20px;
}
 section img {
	 position: absolute;
}
 section img:nth-of-type(1) {
	 width: 40%;
	 right: 0;
	 top: 20%;
}
 section img:nth-of-type(2) {
	 width: 25%;
	 right: 40%;
	 top: 29%;
	 margin-top: 15%;
}
 section:nth-child(odd) {
	 background: #3c3744;
}
 .sticky {
	 background: #3c3744 !important;
}
 .percentage {
	 position: absolute;
	 bottom: 10px;
	 left: 10px;
}
 .box {
	 width: 100px;
	 height: 100px;
	 position: absolute;
	 border: 5px solid lightgray;
	 margin: auto;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
}

  h2,
  h3,
  a {
	  color: #34495e;
	  text-decoration: none;
  }
  
  .logo {
	  margin: 0;
	  font-size: 1.45em;
  }
  
  .main-nav {
	  margin-top: 2px;
	  margin: 0;
	padding: 0;
	list-style: none;
  
  }
  .logo a,
  .main-nav a {
	  padding: 10px 15px;
	  text-transform: uppercase;
	  text-align: center;
	  display: block;
  }
  
  .main-nav a {
	  color: #34495e;
	  font-size: 1.35em;
  }
  
  .main-nav a:hover {
	  color:greenyellow;
  }
  
  .header {
	  padding-top: .1em;
	  padding-bottom: .1em;
	  border: 1px solid #a2a2a2;
	  background-color: #f4f4f4;
	  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
  }
  
  
  /* ================================= 
	Media Queries
  ==================================== */
  
  
  
  
  @media (min-width: 769px) {
	  .header,
	  .main-nav {
		  display: flex;
	  }
	  .header {
		  flex-direction: column;
		  align-items: center;
		  width: 80%;
		  margin: 0 auto;
		  max-width: 1150px;
	  }
  
  }
  
  @media (min-width: 1025px) {
	  .header {
		  flex-direction: row;
		  justify-content: space-between;
	  }
  
  }
  

@media (max-width: 992px) {
	.alert-validate::before {
	  visibility: visible;
	  opacity: 1;
	}
  }
  
  .circles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  }
  
  .circles li{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
	
  }
  
  .circles li:nth-child(1){
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
  }
  
  
  
  @keyframes animate {
  
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}
  
	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
  
  }

  .myHyperlink {
	  font-size: medium;
	  color: black;
	  font-weight: bold;
  }
 